* {
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    height: 100vh;
    background:whitesmoke;
}
.holder{
    color: black;
    margin: auto;
    width: fit-content;
    padding: 10px;

    /* background-color: yellow; */
}
#logo-top{
    width: 5em;
}
.top{
    margin-top: 40px;
    margin-bottom: 20px;
    /* background-color: wheat; */
}
.top h1{
    font-weight: lighter;
    font-size: 4em;
    display: inline;
}
.login{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    padding-top: 10px;
    padding: 10px;
    padding-bottom: 40px;
    /* background-color: yellowgreen; */
}
.connect{
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}
.fb{
    background-color: blue;
    color: white;
}
.gl{
    background-color: whitesmoke;
    color: red;
}
.al{
    background-color: black;
    color: white;
}
.login h2{padding-bottom: 10px;}
input{
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    padding: 10px;
    width: 25em;
    border: none;
}
#submit{
    background-color: lightskyblue;
}
#submit:hover{
    background-color: rgb(135, 242, 250);
}
#forgot{
    text-align: right;
    margin-right:10px;
    text-decoration: none;
}
#or{
    font-size: 1.1em;
    padding-bottom: 20px;
}
#or{
    font-size: 1.5em;
}