@media screen and (max-width: 998px)
{
    #nam{
        display: none;
    }
}
*{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}
/* Targeting body tag to remove margin and padding */
body{
    margin: 0;
    padding: 0;
}
/* Making left container and right container inline block */
.left, .right{
    display: inline;
}
/* Changeing logo image size */
#img{
    width: 40px;
}
/* Making nav bar boss */
nav{
    position: fixed;
    top: 0;
    left: 0;
    padding:10px;
    width: 100%;
}
#nav-right{
    position: absolute;
    top: 35%;
    right: 5%;
}
#signup{
    padding:6px 22px;
    border: 1px solid black;
    color:black;
    border-radius: 20px;
    text-decoration: none;
}
/* giving container its gigantic size */
.container{
    padding-top: 54px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
/* Designing Left and right Containers */
.left, .right{
    min-width: 100%;
    min-height: 100px;
}
.left{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: lightcoral; */
}
.right{
    text-align: center;
}
/* Designing the form to make it look good */
.form-top{
    margin: auto;
    text-align: left;
    padding: 10px;
}
#welcome{
    font-weight: 700;
    font-size: 1.2em;
}
form{
    margin: auto;
    width: fit-content;
    /* background-color: hotpink; */
}
#forgot{
    text-align: right;
    color: #2bc5b4;
    text-decoration: none;
}
form img{
    width: 50px;
    padding: 0px 10px;
}
input{
    font-weight: 550;
    background-color: white;
    border: none;
    border-radius: 20px;
    text-align: center;
    padding: 16.5px 22px;
    width: 300px;
}
#submit{
    width: 300px;
    font-size: 1em;
    font-weight: 700;
    padding: 10;
    border: none;
    color: white;
    background-color: #2bc5b4;
}
#submit:hover{
    background-color: rgb(113, 221, 5);
}
#ocw{
    color: #a9a9a9;
}

/* Making FOOD text to look good */
.left-container{
    padding: 0px 10px;
}
#f1{
    color: lightcoral;
    font-size: 3em;
    font-weight: 800;
}
#f2{
    color: lightgreen;
    font-size: 2.5em;
    font-weight: 800;
}
#f3{
    color: lightskyblue;
    font-size: 2em;
    font-weight: 800;
}
#f4{
    color: brown;
    font-size: 1.5em;
    font-weight: 800;
}
#f5{
    color: burlywood;
    font-size: 1em;
    font-weight: 700;
}